html, body {
    margin: 0; padding: 0; background: transparent; width: 100%; height: 100%; overflow: hidden;
}

.window-border {
    width: 100%; height: 100%; padding: 10px; /* Thickness */ box-sizing: border-box; background:url('placeholder_images/background') no-repeat center; background-size: cover; /* Adjust based on image */
}
.content {
    width: 100%; height: 100%; background-color: white; /*Can be transparent*/ border-radius: 10px; box-shadow: inset 0 0 10px rgba (0,0,0,0,2);
}
